div.Head{
    background-color: bisque;
    font-family: Verdana;
}

p.body1{
    font-family: Verdana;
    text-align: justify;
}

.body2{
    font-family: Verdana;
    text-align: justify;
}

.body3{
    font-family: Verdana;
    text-align: justify;
}

.body4{
    font-family: Verdana;
    text-align: justify;
}

.body5{
    font-family: Verdana;
    text-align: justify;
}